
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
.DS_Store
Pods/
profile
*.moved-aside
*.hmap
*.ipa
.bundle
Carthag
.clang-format
**.plist
*.plist
.Trashes
*.swp
*.lock
*~.nib
xcuserdata/
*.xcscmblueprint
Carthage/Build
fastlane/report.xml
fastlane/screenshots
GoogleService-Info.plist
*GoogleService-Info.plist
**GoogleService-Info.plist